
<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Inscription","Register","Account", null,null)
    </li>
    <li>
        @Html.ActionLink("Connexion", "Login", "Account", null, null)
    </li>
</ul>
